[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/os-vector/wire-os-victor
[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = whinlatter
[submodule "anki/wired"]
	path = anki/wired
	url = https://github.com/os-vector/wired
[submodule "anki/vic-cloudless"]
	path = anki/vic-cloudless
	url = https://github.com/kercre123/vic-cloudless
[submodule "poky/bitbake"]
	path = poky/bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "poky/openembedded-core"]
	path = poky/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "external/purplpkg"]
	path = external/purplpkg
	url = https://github.com/purpl-org/purplpkg
[submodule "vector-mcp"]
	path = vector-mcp
	url = https://github.com/wangergou2023/vector-mcp.git
[submodule "daima-agent"]
	path = daima-agent
	url = https://github.com/wangergou2023/daima-agent.git
